@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.docs-main{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.add-docs{
  height: 40px;
  width: 200px;
  background-color: #FFF;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.logo {
  width: 20%;
  border-radius: 50%;
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loginbutton {
  background-color: #87ceeb;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.loginbutton:hover {
  opacity: 0.8;
}

.logincontainer {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.pswConfirm {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 20%;
  background-color: black;
  color: white;
}

.logocontainer {
  position: absolute;
  left: 2em;
  top: 5em;
}

.smalllogo {
  width: 10%;
  border-radius: 50%;

}

.user-profile {
  position: absolute;
  right: 2em;
  top: 3em;
}

.profileIcon {
  border-radius: 50%;
}